# Draft files

# Data
*.rds
*.csv

# References
refs/

# History files
.Rhistory
.Rapp.history
.pyc
__pycache__/
*_files/

# User-specific files
*.tex
*.Ruserdata
*.DS_Store
*.RData
*.ipynb_checkpoints/

# Core latex/pdflatex auxiliary files
*.xdv
*.aux
*.bbl
*.blg
*.log
*.out
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.spl

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Bibliography auxiliary files (bibtex/biblatex/biber
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# VSCode
.vscode/
.Rproj.user
