# Data
*.rds
*.csv
*.RData
data/*
!data/tourism.csv
!data/labour.csv
!paper/results/*.rds
paper/reviews/*.png

# Review comments
comments/

# References
refs/
L0Group/
coverletter.*

# History files
_figs/
.Rhistory
.Rapp.history
.pyc
__pycache__/
*_files/
*_cache/

# User-specific files
*.Ruserdata
*.DS_Store
*.ipynb_checkpoints/
*.pptx
inst/
docs/

# Core latex/pdflatex auxiliary files
*.xdv
*.aux
*.bbl
*.blg
*.log
*.out
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.spl

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Bibliography auxiliary files (bibtex/biblatex/biber
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# VSCode
.vscode/
.Rproj.user
